@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

details > summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display:none;
}

details > summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display:none;
}

details > summary::after {
    content: url(../public/arrows/down-arrow-svgrepo-com.svg);
}

details[open] > summary::after {
    content: url(../public/arrows/down-arrow-svgrepo-com.svg);
    @apply transform rotate-180;
}

#explore{
  
    color: #01a050;
}
#enhance{
    color: #ffc322;
}
#execute{
    color: #4f9cfa;
}
#excel{
    color:#fc2825
}